@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar{
    display: none;
}
:root{
    --primaryclr: #1E4594;
    --secondclr: #c0c0c0;
    --thirdclr: #fff;
    --forthclr:#000;
    font-family: montserrat;
    
}
.fspace{
    height: 20vh;
}
.space{
    height: 10vh;
}
.blarea{
    background: var(--primaryclr);
    height: 5vh;
}
.bla{
    background: var(--primaryclr);
    height: 5vh;
}
.login{
    float: right;
}
.slider{
    height: 60vh;
    background: url(./3.jpg);
    background-size: cover;
}
.slider img{
    display: block;
    width: 100%;
}
.nav{
position: fixed;
width: 100vw;
height: 20vh;
background: var(--thirdclr);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.list{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}
.list ul{
    display: flex;
    align-items: center;

    list-style: none;
    gap: 2vw;
}
.list li{
    
}
.list li a{
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    color: var(--primaryclr);

}
.list li a:hover, .list li a:active{
   
    background: var(--primaryclr);
    color: var(--thirdclr);
}
.logo{
    width:7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo a img{
    display: block;
    width:100%;
}
.shop-books h1{
    color: var(--primaryclr);
    
}
.shop-books{
    padding: 5%;
}
.shop-books a{
    display: block;
}
.container-b{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5vw;

}
.card{
    width: 15vw;
    padding: 5%;
    background: var(--secondclr);
    border-radius: 10px;
}
.card img{
    display: block;
    width: 100%;
    border-radius: 5px;
    
}
.container-b a, .card, .card h2, .card p, .card strong{
    text-decoration: none;
    color: var(--forthclr);
    transition: all 0.2s linear;
}

.container-b a:hover,.card:hover{
    transform: scale(105%);
    background: var(--primaryclr);
    color: var(--primaryclr);
}
.writers-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}
.card-w{
    width: 10vw;
    text-align: center;
    background: var(--secondclr);
    color: var(--forthclr);
    padding: 1%;
    border-radius: 15px;
    transition: all 0.2s linear;
}
.card-w img{
    display: block;
    width: 100%;
    border-radius: 10px;
}
.writers{
    padding: 3.5%;
}
.card-w:hover{
    transform: scale(110%);
    background: var(--primaryclr);
    color: var(--thirdclr);
}
.footer{
    height: 25vh;
    box-sizing: content-box;
    padding: 5%;
    background: var(--primaryclr);
    color: var(--thirdclr);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25vw;
}

.map iframe{
    display: block;
    width: 100%;
}
